/* Estilo Identidade Ecologica */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-weight: bold;
  color: #1b4d2c !important;
  /* Nome Ecologica sempre em verde escuro */
}

a {
  color: #28a745;
  /* Links em verde */
}

a:hover {
  color: #1b4d2c;
}

/* Botões Principais */
.btn-primary {
  color: #fff;
  background-color: #28a745;
  border-color: #1e7e34;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

/* Menu de Navegação Ativo */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b4d2c;
  border-color: #153a21;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Rodapé Ajustado */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: #f8f9fa;
  color: #556b5c;
}

.peao-posicao-15 {
  left: 40%;
  /* Ajuste esse valor até ele ficar em cima de uma pedra */
  top: 50%;
}